.payment-modal {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
  }
  
  .payment-modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .payment-options {
    margin-top: 20px;
  }
  
  .payment-options button {
    background-color: #566677;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-right: 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .payment-options button:hover {
    background-color: #FF9900;
  }