.facture {
    width: 100%;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #000;
    margin-left: 10px;

   /* box-shadow: 10px 10px #0057ff; */
}

.position-facture{
    
    max-height: 600px;
    
}

.position-table {
    padding-top: 3% ;
}

.position-shoppping{
    padding-top: 8%;
}

.position-shop{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 9%;
    height: 100vh;
}

.custom-select{
    padding-left: 50px;
    bottom: 25px;
    border-radius: 4px;
}

.custom-select:focus{
    outline: none; 
    border-color: #FD7B15;
}

.select-measure {
    padding: 10px;
    font-size: 15px;
    width: 100px; 
    border: 1px solid black; 
    border-radius: 4px;
    text-align: center;
  }

.select-measure:focus{
    outline: none; 
    border-color: #FD7B15;
}


.deleteText {
    font-size: 20px;
}

.custom-input {
    border: 1px solid black;
    border-radius: 4px;
    height: 34px; 
    padding: 5px;
    margin-left: 12px; 
  }
  
  .custom-input:focus {
    outline: none; 
    border-color: #FD7B15;
  }

  .table-shopping{
    height: 20%;
  }

  

  
  .password-toggle-button {
    position: relative;
    right: 30px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }