.facture {
    width: 100%;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #000;
    margin-left: 10px;

   /* box-shadow: 10px 10px #0057ff; */
}

.position-facture{
    padding-top: 7%;
}

.position-shop{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 70px;
    padding-right: 9%;
}

.custom-select{
    padding-left: 50px;
    bottom: 25px;
    border-radius: 4px;
}

.custom-select:focus{
    outline: none; 
    border-color: #FD7B15;
}

.select-measure {
    padding: 10px;
    font-size: 15px;
    width: 100px; 
    border: 1px solid black; 
    border-radius: 4px;
    text-align: center;
  }

.select-measure:focus{
    outline: none; 
    border-color: #FD7B15;
}


.deleteText {
    font-size: 20px;
}

.custom-input {
    border: 1px solid black; /* Borde negro de 1px */
    border-radius: 4px;
    height: 34px; /* Bordes redondeados */
    padding: 5px;
    margin-left: 12px; /* Espaciado interno */
  }
  
  .custom-input:focus {
    outline: none; /* Elimina el contorno al estar enfocado */
    border-color: #FD7B15; /* Cambia el color del borde cuando el input está enfocado */
  }